.label {
    -fx-text-fill:#282828;
    -fx-font-family: Inter;
    -fx-font-size:13px;
    -fx-font-style: normal;
}
.label-header {
    -fx-font-size:20px;
    -fx-font-weight: 900;
}
.text-field {
    -fx-background-color: #B6B6B6;
    -fx-font-size: 18;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: transparent;
    -fx-min-width: 268px;
    -fx-max-width: 268px;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-user-select: none;
    -fx-prompt-text-fill: #132033;
}
.long-Field{
    -fx-min-width: 540px;
    -fx-max-width: 540px;
    -fx-prompt-text-fill: #7A7A7A;
}
.create-button {
    -fx-min-width: 540px;
    -fx-max-width: 540px;
    -fx-background-color: #132033;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.create-button:hover {
    -fx-background-color: #05142c; /* Background color on hover */
    -fx-cursor: hand;
}

.delete-button {
    -fx-min-width: 268px;
    -fx-max-width: 268px;
    -fx-background-color: #781C1C;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.delete-button:hover {
    -fx-background-color: #a12424; /* Background color on hover */
    -fx-cursor: hand;
}
.update-button {
    -fx-min-width: 268px;
    -fx-max-width: 268px;
    -fx-background-color: #15570F;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
    -fx-background-radius: 10px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.update-button:hover {
    -fx-background-color: #228818; /* Background color on hover */
    -fx-cursor: hand;
}

.button:focused {
    -fx-border-width: 2px; 
    -fx-border-color: #071f43;
}

.text-field:focused {
    -fx-border-width: 2px; 
    -fx-border-color: #071f43;
}